/* Ensure html and body take up the full viewport height and width */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Move overflow here */
  display: flex;
  text-rendering: optimizeLegibility;
  cursor: default;
  font: 12px/1 Helvetica, "Comic Sans", "Comic Sans MS", cursive;
}

/* Ensure #root expands to fill the entire body */
#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-container {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 64px;
  margin: 12%;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  transition: background 0.5s ease-in-out;
}

/* Early Morning (5 AM to 6 AM) */
body.early-morning {
  background: linear-gradient(
    180deg,
    #0b3d91,
    #ffdab9
  ); /* Dark Blue to Peach */
  color: #ffffff; /* Light text for contrast */
}

/* Morning (7 AM to 9 AM) */
body.morning {
  background: linear-gradient(
    180deg,
    #ffcccb,
    #fffacd
  ); /* Light Pink to Soft Yellow */
  color: #000000; /* Dark text for contrast */
}

/* Rest of the Day (9 AM to 6 PM) */
body.day {
  background: linear-gradient(
    180deg,
    #ffffff,
    #87cefa
  ); /* White to Light Sky Blue */
  color: #000000; /* Dark text for contrast */
}

/* Evening (6 PM to 7 PM) */
body.evening {
  background: linear-gradient(
    180deg,
    #ffa07a,
    #2e1a47
  ); /* Soft Orange to Deep Purple */
  color: #ffffff; /* Light text for contrast */
}

/* Night (7 PM to 5 AM) */
body.night {
  background: linear-gradient(
    180deg,
    #000000,
    #0b3d91
  ); /* Black to Dark Blue */
  color: #ffffff; /* Light text for contrast */
}

.inscription {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 8px;
  text-align: right;
  font-family: Arial, sans-serif;
  z-index: 1000;
}

.inscription a {
  text-decoration: none;
  color: #999;
  transition: color 0.3s ease;
}

.inscription a:hover {
  text-decoration: underline;
}

/* Early Morning (5 AM - 6 AM) */
.early-morning .inscription {
  background-color: #b3cde0;
  color: #023858;
}

.early-morning .inscription a {
  color: #023858; /* Dark Blue */
}

.early-morning .inscription a:hover {
  color: #011f4b;
}

/* Morning (6 AM - 9 AM) */
.morning .inscription {
  background-color: #FFFACD;
  color: #b8860b;
}

.morning .inscription a {
  color: #b8860b; /* Golden Brown */
}

.morning .inscription a:hover {
  color: #8b6508;
}

/* Rest of the Day (9 AM - 6 PM) */
.day .inscription {
  background-color: #87CEFA;
  color: #000;
}

.day .inscription a {
  color: #000000; /* Black */
}


.day .inscription a:hover {
  color: #333;
}

/* Evening (6 PM - 7 PM) */
.evening .inscription {
  background-color: #FFA07A;
  color: #2e1a47;
}

.evening .inscription a {
  color: #2e1a47; /* Deep Purple */
}

.evening .inscription a:hover {
  color: #562355;
}

/* Night (7 PM - 5 AM) */
.night .inscription {
  background-color: #000000;
  color: #ffffff;
}
.night .inscription a {
  color: #ffffff; /* White */
}

.night .inscription a:hover {
  color: #bbbbbb;
}